/* Grid Main Styles */

.grid-main {
  margin: 2vh 2vw;
  min-width: 85rem;
}

.grid-main h1 {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem;
}

/* Grid Container Styles */
table.grid-container {
  width: 100%;
}

/* Grid Row Styles */

.grid-header {
  color: #fff;
  background-color: #000;
  font-weight: bold;
}

.grid-search {
  color: #fff;
  background-color: #000;
}
.grid-search input {
  margin: 0.5rem;
  width: 30%;
  height: 3rem;
  font-size: 1.4rem;
}

.grid-row-empty {
  border: 1px solid #000;
  border-bottom-color: transparent;
  border-top-color: transparent;
  height: 3.5rem;
}

.grid-search {
  display: flex;
  width: 100%;
  align-items: center;
  height: 3.5rem;
}

tr {
  border-bottom: 0.1rem solid #ddd;
  height: 3.5rem;
}

th {
  font-weight: bold;
  vertical-align: middle;
  font-size: 1.6rem;
}

th,
td {
  text-align: left;
  vertical-align: middle;
  padding-left: 0.5rem;
  font-size: 1.4rem;
}

/* Pagination Styles */

.pagination-main {
  display: flex;
  height: 4rem;
  padding: 0.5rem;
  place-items: center;
  justify-content: space-between;
  border: 0.1rem solid #000;
  background-color: #000;
  color: #fff;
}

.pagination-control {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.pagination-page-control,
.pagination-page-control-disabled {
  height: 3rem;
  width: 3rem;
  background-color: #000;
  color: #fff;
  font-size: 2.4rem;
  display: grid;
  place-items: center;
}

.pagination-page-control-disabled {
  color: #888;
}

.pagination-page-input-control {
  display: flex;
}

.pagination-page-input {
  font-size: 1.8rem;
  place-items: center;
  text-align: center;
  width: 3rem;
}

.pagination-info {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
