/* Grid Main Styles */

.grid-main {
  margin: 2vh 2vw;
  min-width: 85rem;
}

.grid-main h1 {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem;
}

/* Grid Container Styles */

/* Grid Row Styles */

.grid-header {
  color: #fff;
  background-color: #000;
  font-weight: bold;
}

.grid-header,
.grid-row-main,
.grid-search {
  display: flex;
  width: 100%;
  align-items: center;
  height: 3.5rem;
}

.grid-row-gamenumber,
.grid-row-datetime,
.grid-row-stage,
.grid-row-location,
.grid-row-venue,
.grid-row-weather,
.grid-row-home,
.grid-row-away,
.grid-row-score,
.grid-row-attendance {
  border: 0.1rem solid #000;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.grid-row-gamenumber {
  width: 5%;
}
.grid-row-datetime {
  width: 12%;
}

.grid-row-stage {
  width: 10%;
}
.grid-row-location {
  flex: 1;
}
.grid-row-venue {
  width: 11%;
}
.grid-row-home {
  width: 12%;
}
.grid-row-away {
  width: 12%;
}
.grid-row-score {
  width: 10%;
}

.grid-row-attendance {
  width: 12%;
}

.grid-geader-sort {
  padding-left: 0.5rem;
  font-size: 1.4rem;
}
