/* Grid Main Styles */

.grid-main {
  margin: 2vh 2vw;
  min-width: 85rem;
}

.grid-main h1 {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem;
}

/* Grid Container Styles */
table.grid-container {
  width: 100%;
}

.grid-header {
  color: #fff;
  background-color: #000;
  font-weight: bold;
}
tr {
  border-bottom: 0.1rem solid #ddd;
  height: 3.5rem;
}

th {
  font-weight: bold;
  vertical-align: middle;
  font-size: 1.6rem;
}

th,
td {
  text-align: left;
  vertical-align: middle;
  padding-left: 0.5rem;
  font-size: 1.4rem;
}
